In [2]:
import pandas as pd
import requests as r
from bs4 import BeautifulSoup

In [3]:
url = 'https://txstatebobcats.com/staff-directory'

In [4]:
res = r.get(url)
#res.content

In [5]:
# Parse content into a beautiful soup object
soup = BeautifulSoup(res.content, 'html.parser')

In [6]:
rev_table = []
res_elem = soup.find_all(class_='sidearm-table collapse-on-large')

In [8]:
#for i in res_elem:
    #print(i.text)

In [9]:
for i in res_elem:
    rev_table.append(i.text)

In [10]:
#Names

name = []
name_elem = soup.find_all(headers="col-fullname category-0")
name_elem

for t in name_elem:
    name.append(t.text.replace('\n', ' ').strip())

In [11]:
title = []
title_elem = soup.find_all(headers="col-staff_title category-0")
title_elem

for q in title_elem:
    title.append(q.text.replace('\n', ' ').strip())

In [12]:
# Email 

email = []
email_elem = soup.find_all(headers="col-staff_email category-0")
email_elem

for t in email_elem:
    email.append(t.text.replace('\n', ' ').strip())

In [13]:
final_a = []

for names, titles, emails in zip(name, title, email):
    final_a.append({'Name':names,'Title':titles,'Email': emails})

df = pd.DataFrame(final_a)
df

              Name                                              Title Email
0      Don Coryell                              Director of Athletics
1     Travis Comer  Executive Senior Associate Athletics Director ...
2   Tracy Shoemake  Executive Senior Associate Athletics Director ...
3     Bryan Miller  Executive Senior Associate Athletics Director ...
4       Bryan Dean  Executive Senior Associate Athletics Director ...
5     Kelsey Solis          Associate Athletics Director - Compliance
6    Jeremy Stolfa  Associate Athletics Director - Facilities & Op...
7  Brandi Martinez  Executive Administrative Assistant to the Dire...

In [14]:
#Names category 1

name1 = []
name1_elem = soup.find_all(headers="col-fullname category-1")
name1_elem

for tc in name1_elem:
    name1.append(tc.text.replace('\n', ' ').strip())
    
name1

['Brandi Martinez', 'Linda Arredondo', 'Shelli Sears', 'Michelle Hamilton']

In [15]:
title1 = []
title1_elem = soup.find_all(headers="col-staff_title category-1")
title1_elem

for qc in title1_elem:
    title1.append(qc.text.replace('\n', ' ').strip())

title1

['Executive Administrative Assistant to the Director of Athletics',
 'Administrative Assistant - Athletics',
 'Administrative Assistant - Basketball/Volleyball',
 'NCAA Faculty Representative']

In [16]:
# Email 

email1 = []
email1_elem = soup.find_all(headers="col-staff_email category-1")
email1_elem

for tp in email1_elem:
    email1.append(tp.text.replace('\n', ' ').strip())

email1

['', '', '', '']

In [17]:
 final1_array = []

for d, c, o in zip(name1, email1, title1):
    final1_array.append({'Name':d, 'Email':c, 'Title':o})

df1 = pd.DataFrame(final1_array)
df1

                Name Email                                              Title
0    Brandi Martinez        Executive Administrative Assistant to the Dire...
1    Linda Arredondo                     Administrative Assistant - Athletics
2       Shelli Sears         Administrative Assistant - Basketball/Volleyball
3  Michelle Hamilton                              NCAA Faculty Representative

In [18]:
# Concating both dataframes within one

frames = [df, df1]

df2 = pd.concat(frames)
df3 = df2.reset_index(drop=True)
df3

                 Name                                              Title Email
0         Don Coryell                              Director of Athletics
1        Travis Comer  Executive Senior Associate Athletics Director ...
2      Tracy Shoemake  Executive Senior Associate Athletics Director ...
3        Bryan Miller  Executive Senior Associate Athletics Director ...
4          Bryan Dean  Executive Senior Associate Athletics Director ...
5        Kelsey Solis          Associate Athletics Director - Compliance
6       Jeremy Stolfa  Associate Athletics Director - Facilities & Op...
7     Brandi Martinez  Executive Administrative Assistant to the Dire...
8     Brandi Martinez  Executive Administrative Assistant to the Dire...
9     Linda Arredondo               Administrative Assistant - Athletics
10       Shelli Sears   Administrative Assistant - Basketball/Volleyball
11  Michelle Hamilton                        NCAA Faculty Representative

In [19]:
#Extract to a csv file

df3.to_csv('Web_Scraping.csv')